In [8]:
#1 PROGRAM TO PRODUCE THE FOLLOWING OUTPUT USING FOR LOOP
num_rows = 8
for i in range(1):
    print("+----+")
    for i in range(1,4):
        print("\    /")
        for i in range(1):
            print("/    \\")
    print("+----+")

+----+
\    /
/    \
\    /
/    \
\    /
/    \
+----+

In [20]:
#2 PROGRAM TO PRODUCE THE FOLLOWING OUTPUT USING FOR LOOP
num_rows = 10
for i in range(5): 
    for num_cols in range(num_rows):
        print("*", end="")
    print()

**********
**********
**********
**********
**********

In [12]:
#3 
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [21]:
for i in range(2,13,2):
    print(i)

2
4
6
8
10
12

In [26]:
for i in range(4,80,15):
    print(i)

4
19
34
49
64
79

In [33]:
for i in range(30,-21,-10):
    print(i)

30
20
10
0
-10
-20

In [34]:
for i in range(-7,14,4):
    print(i)

-7
-3
1
5
9
13

In [36]:
for i in range(97,81,-3):
    print(i)

97
94
91
88
85
82

In [37]:
for i in range(-4,87,18):
    print(i)

-4
14
32
50
68
86

In [1]:
#4  
for i in range(1,8):
    for j in range(1,i+1):
        print(i,end =" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [4]:
#5
work_hours = int('60')
if work_hours <= 40:
    salary = 20 * work_hours
    
else:
    over_salary = 30 * (work_hours - 40)
    salary = 20 * 40 + over_salary
print(salary)

1400

In [7]:
work_hours = int('11')
if work_hours <= 8:
    salary = 4 * work_hours
    
else:
    over_salary = 6 * (work_hours - 8)
    salary = 4 * 8 + over_salary
print(salary)

50

In [1]:
#6 program named area that takes as a parameter the radius of a circle and returns the area of the circle
from math import pi
def circ_area(r):
    return round(pi * r**2,4)
radius = float("4")
area = circ_area(radius)
print("Area: " + str(area))

Area: 50.2655

In [3]:
#7 
low = 300
high = 5298
sum = 0
for i in range(low,high):
    sum += i
print("sum = " , sum)

sum =  13986903

In [1]:
#8 program using while loop that prompts the user for numbers until the user types 0, then outputs their sum
number_of_numbers = 0
total_sum = 0
while True:
    number = int(5)
    if number == 0:
        break
    number_of_numbers += 1
    total_sum += number
print("total number of numbers is:", number_of_numbers)
print("total sum is:", total_sum)

KeyboardInterrupt:

In [ ]:
 #9 program using while loop that prompts the user for numbers until the user types -1, then outputs their sum

number_of_numbers = 0
total_sum = 0
while True:
    number = int(8)
    if number == - 1:
        break
    number_of_numbers += 1
    total_sum += number
print("total number of numbers is:", number_of_numbers)
print("total sum is:", total_sum)

In [36]:
#10
def repl(str,rep):
    if rep <=0:
        print("Empty String")
    return (str * rep)
print(repl(str("hello"), int(3)))

hellohellohello

In [38]:
def repl(str,rep):
    if rep <=0:
        print("Empty String")
    return (str * rep)
print(repl(str("hello"), int(-1)))

Empty String

In [29]:
#11 a method called printrange that accepts two integers as arguments and prints the sequence of numbers between the two 
for i in range(2, 7+1):
    print(i, end= " ")

2 3 4 5 6 7

In [3]:
#12 
def smallestlargest():
    count = int(input("how many numbers do you want to enter?")) 
    
    if count > 0:
        num_list = []
        for i in range(1, count + 1):
            num = float(input(f"Number {i}: "))
            num_list.append(num)
            
        smallest = min(num_list)
        largest = max(num_list)
        
        print(f"smallest = {smallest}")
        print(f"largest = {largest}")
        
    else:
        print("please enter a valid number greater than 0 for the count.")
# trying the code
smallestlargest()

how many numbers do you want to enter? 4
Number 1: 5
Number 2: 11
Number 3: -2
Number 4: 3
smallest = -2.0
largest = 11.0

In [1]:
#13 a method called printAverage that uses a sentinel loop to repeatedly prompt the user for numbers
def printAverage():
    sum = 0
    count = 0
    
    while True:
        num = float(input("Type a number: note that a negative number breaks the sequence"))
        
        if num < 0:
            break
            
        sum += num
        count += 1
        
    if count > 0:
        average = sum / count
        print("Average was", average)
    else:
        print("No nonnegative numbers were entered.")
printAverage()

Type a number: note that a negative number breaks the sequence 7
Type a number: note that a negative number breaks the sequence4
Type a number: note that a negative number breaks the sequence16
Type a number: note that a negative number breaks the sequence-4
Average was 9.0

In [1]:
#14
def numUnique():
    unique_numbers = len(set([num1, num2, num3]))
    return unique_numbers

unique_numbers()

NameError: name 'unique_numbers' is not defined

In [33]:
#15
import random
def roll_dice(num_dice):
    result = []
    for i in range(num_dice):
        result.append(random.randint(1,6))
    return result
print(roll_dice(2))

[4, 2]

Type a number: note that a negatie number breaks the sequence 7
Type a number: note that a negatie number breaks the sequence 4
Type a number: note that a negatie number breaks the sequence 16
Type a number: note that a negatie number breaks the sequence -4
Average was 9.0